@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family:'Roboto Condensed', sans-serif;
    overflow-x: none;
}

nav{
    position: sticky;
    display:flex;
    justify-content: center;
    align-items: center;
}



nav,li{
    list-style: none;
    display: inline-block;
    margin:25px;
}

li:hover{
    background-color: gray;
    width:100px;
    height: 30px;
    padding:3px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

#about{
    
    transform: translateY(60px);
}
    
.about{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-90%,250%);
    font-size: larger;
}

#header-img{
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translate(60px,-30px);
   background-size: cover;
}