@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    color: white;
}

.navbar{
    float: right;
    font-size: 1em;
    background-color: gray;
    color: white;
    width: 1536px;;
    height:99px ;
}

#header-img{
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translate(60px,10cm);
   
}

.navbar-brand,a{
    font-size: large;
}

#about{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,5cm);
    font-size: larger;
    height: 785px;
    width: 100vw;
    background-color:lightblue;
    
   
}

.about{
    transform: translate(3%,9cm);
}
.about h1{
    text-decoration:underline 7px navy;
}
.text-layer{
    text-align: center;
    transform: translate(27cm,10cm);
    font-size: 1.5em;
    height:328px ;
    width: 500px;
    left: 0px;
    top: 0px;
    z-index: 999;
    
}
.text-layer h1{
    text-decoration: underline 7px navy;
}
