@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    color: white;
    overflow-x: hidden;
}

.navbar{
    float: right;
    font-size: 1em;
    color: white;
    width: 1536px;;
    height:99px ;
    background-color:#487890 ;
}
img{
    width:1535px;
    height: 500px;
    transform: translateY(-25cm);
}
#header-img{
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translate(60px,10cm);
   
}
.scrolledNav {
  background-color: #487890; /* Change to the desired color when scrolled */
  color: #fff;
  transition: background-color 0.3s ease;
}   
.navbar-brand,a{
    font-size: large;
}

#about{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,5cm);
    font-size: larger;
    height: 785px;
    width: 100vw;
    background-color:lightblue;
    
   
}
#about img{
    width:536px;
    height: 440px;
    transform: translateX(20cm);
}
.about{
    transform: translate(3%,9cm);
}
.about h1{
    text-decoration:underline 7px navy;
}
.text-layer{
    text-align: center;
    transform: translate(27cm,-35cm);
    font-size: 1.5em;
    height:328px ;
    width: 500px;
    left: 0px;
    top: 0px;
    z-index: 999;
    
}
.text-layer h1{
    text-decoration: underline 7px navy;
}
#package{
    transform: translateY(36cm);
    height: 100vh;
    width:100vw;

}
#package h1{
    text-decoration: underline 2px navy;
    transform: translateY(4cm);

}
.card-1{
    transform: translate(10cm,9cm);
}
.card-2{
    transform: translate(-10cm,5cm);

}

.card-1 h2{
    transform: translateY(-40px);
}

.card-2 h2{
    transform: translateY(-40px);
}

#Contact{
    transform: translateY(36.250cm);
    height: 100vh;
    width: 100vw;
    background-color:lightblue ;
}

#Contact div{
    transform: translateY(3cm);
}

.btn{
    transform: translateY(8cm);
    width: 1cm;
}