@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Phudu:wght@300;500&family=Poppins:wght@200&family=Raleway:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Phudu", cursive;
  overflow-x: hidden;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translateY(22px);
  cursor: pointer;
}
ul:hover {
  cursor: pointer;
}
#about:hover {
  cursor: pointer;
}
#home {
  border-style: none none solid;
}
li {
  display: inline;
  margin: 69px;
  transform: translateY(20px);
  cursor: pointer;
}
nav,
button {
  border-style: none;
  border-color: black;
  background-color: transparent;
}

nav {
  border-style: none none solid;
  transform: translateY(100px);
  border-width: 0.9px;
}

#join-login {
  transform: translate(500px, -3px);
}

#option {
  border-style: solid;
  border-color: black;
  background-color: transparent;
  width: 73px;
  height: 22px;
  text-align: center;
}

#button-text {
  transform: translateY(-3px);
}

#logo-container,
img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  float: left;
  transform: translate(10px, 7px);
}

.image-display {
  border-style: none none solid;
  width: 5000px;
  border-color: black;
  border-width: 0.9px;
  transform: translate(-300px, 500px);
}
